<a href="https://colab.research.google.com/github/Samarjeet09/WebDev/blob/main/test/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. L is a list defined as L= [11, 12, 13, 14].

In [ ]:
L = [11,12,13,14]

(i) WAP to add 50 and 60 to L.

In [ ]:
L.append(50)
L.append(60)
print(L)

[11, 12, 13, 14, 50, 60]

(ii) WAP to remove 11 and 13from L.

In [ ]:
L.remove(11)
L.remove(13)
L

[12, 14, 50, 60]

(iii) WAP to sort L in ascending order.

In [ ]:
print(sorted(L))

[12, 14, 50, 60]

(iv) WAP to sort L in descending order.

In [ ]:
print(sorted(L,reverse=True))
print(sorted(L)[::-1])

[60, 50, 14, 12]
[60, 50, 14, 12]

(v) WAP to search for 13 in L

In [ ]:
if (13 in L ):
    print("yes")
else:
    print("no")

no

(vi) WAP to count the number of elements present in L.

In [ ]:
print(len(L))

4

(vii) WAP to sum all the elements in L.

In [ ]:
print(sum(L))

136

(viii) WAP to sum all ODD numbers in L.

0

(ix) WAP to sum all EVEN numbers in L.

In [ ]:
s = 0
for item in L :
    if item %2 ==0:
        s += item 
    
print(s)

136

(x) WAP to sum all PRIME numbers in L.

In [ ]:
s=0
for i in L:
    flag = True
    for div in range(2,i//2 +1):
        if i%div ==0:
            flag = False
            break
    if flag:
        s += i

print(s)

0

(xi) WAP to clear all the elements in L.

In [ ]:
L.clear()
L

[]

(xii) WAP to delete L.

In [ ]:
del L

Q2. D is a dictionary defined as D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}.
1. WAP to add new entry in D; key=8 and value is 8.8
2. WAP to remove key=2.
3. WAP to check weather 6 key is present in D.
4. WAP to count the number of elements present in D.
5. WAP to add all the values present D.
6. WAP to update the value of 3 to 7.1.
7. WAP to clear the dictionary.

In [ ]:
D= {1:5.6, 2:7.8, 3:6.6, 4:8.7, 5:7.7}

In [ ]:
D[8]= 8.8
D

{1: 5.6, 2: 7.8, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.pop(2)
D

{1: 5.6, 3: 6.6, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
if 6 in D:
    print("y")
else:
    print('n')

n

In [ ]:
print(len(D))

5

In [ ]:
print('Sum of keys :',sum(list(D.keys())))
print('Sum of Vals :',sum(list(D.values())))

Sum of keys : 21
Sum of Vals : 37.4

In [ ]:
D[3]=7.1
D

{1: 5.6, 3: 7.1, 4: 8.7, 5: 7.7, 8: 8.8}

In [ ]:
D.clear()
D

{}

Q3. S1 is a set defined as S1= [10, 20, 30, 40, 50, 60].
 S2 is a set defined as S2= [40, 50, 60, 70, 80, 90].
1. WAP to add 55 and 66 in Set S1.
2. WAP to remove 10 and 30 from Set S1.
3. WAP to check whether 40 is present in S1.
4. WAP to find the union between S1 and S2.
5. WAP to find the intersection between S1 and S2.
6. WAP to find the S1 - S2.

In [ ]:
S1= {10, 20, 30, 40, 50, 60}
S2= {40, 50, 60, 70, 80, 90}

In [ ]:
S1.add(55)
S1.add(66)
S1

{10, 20, 30, 40, 50, 55, 60, 66}

In [ ]:
S1.remove(10)
S1.remove(30)
S1

{20, 40, 50, 55, 60, 66}

In [ ]:
if 40 in S1 :
    print('Y')

Y

In [ ]:
print(S1.union(S2))
print(S1.intersection(S2))
print(S1-S2)

{66, 70, 40, 80, 50, 20, 55, 90, 60}
{40, 50, 60}
{66, 20, 55}

Q4. Write the following program.
1. WAP to print 100 random strings whose length between 6 and 8.
2. WAP to print all prime numbers between 600 and 800.
3. WAP to print all numbers between 100 and 1000 that are divisible by 7 and 9

In [ ]:
import random as r 
import string as s
letters = s.ascii_letters
print(letters)

abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ

In [ ]:
for i in range(100):
    size = r.randint(6,8)
    sam = r.sample(letters,size)
    rstr = ''.join(sam)

OBfpHzuv
LEiAaXGc
uQKaCfAx
qsKZNC
mIsQFJ
SGIXCqgN
IcJLyAT
yvZiIJ
UsBxDfy
BTzngEu
oWMpDO
bADMTB
ZeThiHqc
nHqvFfN
lYQcjoW
asvPGyVR
kytxYAUP
lyMROhA
sLbTXk
LymxKN
NVtYqFLj
LHjBOVTW
GKAlzY
ETAIcgv
RnNePiM
LuPXeK
QOMaeAdU
LAcswzo
SawVoGO
vbaQrpx
VzHmhZc
WqxLIREQ
ypIouhd
ionEZIH
rVjWJOh
IQPWOaF
PFxUnR
MyQiGaTp
JemqTNz
FHtXNnC
VhlkTtp
WvpCOgmU
eqYzhtd
yvlYdTu
fwXuRZ
LUXlSE
VbpYQE
vMClhGX
oudKgFr
ArCBdsm
TrIcAgYe
CkOdDIu
hqIXxF
uftTnsxB
UpLhYSf
WasUyoZF
FZcBTd
LGKamjs
vNQxObMX
mbNjJYF
DMzqwNr
yBqrTSh
YOiwbuM
oubzinNJ
RrfKpatz
swbZzYCL
niWSoCp
AvTfoWk
UGyDwL
cNXBwFn
kjbqtIn
uLmWrzIf
hEuyXWA
sSCnjQ
WJpOTFAo
BDAEUHMl
wqRhdzZm
xdheaB
zkcYDA
NyKVqRE
MPaDCVZ
HcOTDKa
VcfjUKP
oTuyBHd
AJvedfK
MxgrqTXz
sDQAaj
mwjLNV
zLDtfsT
gHsYPX
gXABWs
gwIjDtB
fvQNpFcG
VUbFhu
yAcZOmCU
jEwIMU
LtkgEvwB
tToAqRK
MSWYUplc
bxTBgLp

In [ ]:
for i in range(600,801):
    # although 800 is also not prime but ok 
    f = True
    for div in range(2,i//2+1):
        if i % div == 0:
            f = False
            break
    if f :
        print(i)

601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797

In [ ]:
for i in range(100,1001):
    if i% 7 ==0 and i % 9 ==0:
        print(i)

126
189
252
315
378
441
504
567
630
693
756
819
882
945

Q5. WAP to create two lists of 10 random numbers between 10 and 30; Find 
1. Common numbers in the two lists
2. Unique numbers in both the list
3. Minimum in both the list
4. Maximum in both the list
5. Sum of both the lists

In [ ]:
l1 = r.sample(range(10,31),10)
l2 = r.sample(range(10,31),10)
print(l1)
print(l2)

[17, 28, 12, 16, 15, 30, 18, 14, 25, 26]
[13, 20, 14, 19, 17, 22, 21, 29, 24, 10]

In [ ]:
print("common",set(l1).intersection(set(l2)))
print('Unique',set(l1).symmetric_difference(set(l2)))
print(min(l1+l1))
print(max(l1+l1))
print(sum(l1+l1))

common {17, 14}
Unique {10, 12, 13, 15, 16, 18, 19, 20, 21, 22, 24, 25, 26, 28, 29, 30}
12
30
402

Q6. WAP to create a list of 100 random numbers between 100 and 900. Count and print the: 
1. All odd numbers
2. All even numbers
3. All prime numbers

In [ ]:
sampleList = r.sample(range(100,901),100)
evenL ,oddL,primeL =[],[],[]
for num in sampleList:
    if num % 2 == 0 :
        evenL.append(num)
    else:
        oddL.append(num)
        f = 1
        for divs in range(2,num //2 +1 ):
            if num % divs == 0:
                f = 0
                break
        if f :
            primeL.append(num)

print("Even", len(evenL),evenL)
print("Odd", len(oddL),oddL)
print("Prime", len(primeL),primeL)

Even 54 [706, 594, 366, 228, 860, 194, 434, 472, 338, 896, 538, 730, 498, 210, 678, 208, 604, 520, 672, 804, 496, 202, 110, 692, 470, 524, 552, 602, 626, 718, 304, 646, 648, 418, 772, 874, 858, 106, 168, 786, 492, 468, 360, 810, 822, 694, 664, 880, 560, 288, 658, 788, 868, 562]
Odd 46 [329, 687, 833, 609, 861, 607, 511, 601, 721, 587, 317, 383, 831, 275, 771, 493, 821, 153, 157, 127, 781, 633, 349, 445, 711, 589, 461, 621, 537, 817, 491, 387, 373, 143, 331, 757, 281, 737, 121, 367, 623, 561, 467, 209, 655, 553]
Prime 17 [607, 601, 587, 317, 383, 821, 157, 127, 349, 461, 491, 373, 331, 757, 281, 367, 467]

Q7. D is a dictionary defined as D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}. 
 WAP to read all the keys and values from dictionary and write to the file in the given below format.
* Key1, Value1 
* Key2, Value2
* Key3, Value3

In [ ]:
D={1:"One",2:"Two",3:"Three",4:"Four", 5:"Five"}
s = ''''''
for i in D:
    s+= "%d,%s\n"%(i,D[i])
print(s)

1,One
2,Two
3,Three
4,Four
5,Five